* {
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100%;
}

.wrapper {
    width: 100%;
}

.container-order {
    margin-top: 3rem;
    min-width: 90%;
    margin: 3 auto;
    position: relative;

}
.branch-name {
    font-size: 3rem;
    text-transform: uppercase;
    margin: 2rem auto 2rem auto;
    text-align: center;
}