.input-component {
	

}

.branch-form {
	margin: 0 auto;
    padding-top: 2rem;
    margin-top: 4rem;
    width: 30rem;
	height: auto;
    border-radius: 1.5rem;
    overflow: hidden;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }

  *:focus {
    outline: none;
}

.number-input {
	border:0;
	padding:0;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
	height: 8rem;
	width: 100%;
	margin: 0;
	font-size: 7rem;
	text-align: center;
	color: #222;
	/*color: transparent;
	text-shadow: 0 0 0 #222; */
	border-bottom: 3px #9da1a3 solid;
	font-family: 'Open Sans', sans-serif;
}

.name-input {
	border:0;
	padding:0;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
	height: 4rem;
	width: 100%;
	margin: 0;
	text-align: center;
	font-size: 1rem;
	margin-bottom: 2rem;
	border-bottom: 2px #9da1a3 solid;
	text-transform: uppercase;
}

.label {
	font-size: 1rem;
	text-align: center;
	color: #9da1a3;
	font-weight: 600;
}

.autogen-btn {
	border: none;
	border-radius: 1rem;
	height: 2rem;
	width: 12rem;
	margin: 0 auto;
	color: #fff;
	font-weight: 600;
	display: flex;
	justify-content: center;
	margin: 1rem auto 1rem auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}